<!doctype html>
<html>
  <head>
    <%- include ("partials/head.ejs") -%>
    
  </head>

  <body>
    <div class="container-fluid">
      <div class="col-md-12 py-5 px-3 mx-auto">
        <%- include ("partials/nav.ejs") -%>
  
        <div class ="row">
          <div class="col-lg-2 px-0">
          </div>
        <div class="col-lg-8 px-0">
          <h2 class="text-align-center">Add code you use commonly!</h2>
          <br>
          <form action="/codeadded" method="post" class="needs-validation" novalidate>
            <fieldset>
              <div class="form-group">
              <label class="mr-sm-2" for="category">Category</label>
              <!-- changing to text box because ejs not reading dropdown -->
              <input type="text" class="form-control" name="category" id="type" placeholder="language, tool or framework" tabindex="1" required>
              <div class="invalid-feedback">Please state if a language, tool, or framework</div>
            </div>
              <div class="form-group">
                <label for="type" >Type of Language/Tool/Framework</label>
                <input type="text" class="form-control" name="type" id="type" value="" tabindex="1" required>
                <div class="invalid-feedback">Please provide name of the language, tool, or framework</div>
            </div>
            <div class="form-group">
                <label for="title" class="mid">Title of your code entry</label>
                <input type="text" class="form-control" name="title" id="title" value="" tabindex="1" required>
                <div class="invalid-feedback">Please provide the title of your code snippet</div>
            </div>

            <div class="form-group">
              <label for="description" class="mid">Description of your code</label>
              <input type="text" class="form-control" name="description" id="description" value="" tabindex="1" required>
              <div class="invalid-feedback">Please provide a description of your code snippet </div>
          </div>
              
            <div class="form-group">
                <label for="snippet">Add your code here</label>
                <textarea cols="40" rows="10"  class="form-control" name="code_snippet" id="snippet" required></textarea>
                <div class="invalid-feedback">Please enter your code snippet here</div>
            </div>
            <div class="form-group">
              <label for="tags" class="mid">Add Tags</label>
              <input type="text" class="form-control" name="tags" id="tags" value="" tabindex="1" required>
              <div class="invalid-feedback">Please provide tags so that other users can find your code snippet</div>
          </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
              
            </fieldset>
        </form>
       
      </div>
     </div>

 
        <%- include ("partials/footer.ejs") -%>
      </div>
    </div>
  
  </body>
  <script>
    // input validation disable form submission if one or more from fields are empty
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    
    </script>
</html>