<!doctype html>
<html>
  <head>
    <%- include ("partials/head.ejs") -%>
    
  </head>

  <body>
    <div class = "container-fluid">
      <div class="col-md-12 py-5 px-3 mx-auto">
        <%- include ("partials/nav.ejs") -%>
  
        <main class="">
      
            <article class="grid">
              <div>
                <% if (hasMessages) { %>
                  <ul>
                  <% messages.forEach(function(message){ %>
                    <li><%= message %></li>
                  <% }); %>
                  </ul>
                <% } %>
                <h3 class ="text-center">Sign in</h3>

                <div class ="d-flex justify-content-center mb-5">
                  <form action="/login/password" method="post">
                    <input type="text" name="username" placeholder="Username" class="form-control mb-3">
                    <input type="password" name="password" placeholder="Password" class="form-control mb-3">
                    <button type="submit" class="btn btn-dark">Sign in</button>
                  </form>
                </div>
              </div>
              <p class = "text-center">or <a href="/newuser">Create an account</a></p>


            </article>
          </main>

  
        <%- include ("partials/footer.ejs") -%>
      </div>
    </div>
    

  </body>

</html>
