<!doctype html>
<html>
  <head>
    <%- include ("partials/head.ejs") -%>
    
  </head>

  <body>
    <div class = "container-fluid">
      <div class="col-md-12 py-5 px-3 mx-auto">
        <%- include ("partials/nav.ejs") -%>
  
        <main class="">
            <article class="grid">
              <% if (locals.message) { %>
                <div class ="alert alert-danger justify-content-center"><%= message %></div> 
                <% }else{ %> 

              <% } %>
              <h3 class ="text-center">Sign up </h3>
              
              <div class ="d-flex justify-content-center mb-5">

                <form action="/users" method="post">
                  <input type="text" name="name" placeholder="Name" class="form-control mb-3">
                  <input type="text" name="username" placeholder="Username" class="form-control mb-3" required>
                  <input type="email" name="email" placeholder="Email" class="form-control mb-3">
                  <div class="form-check form-check-inline mb-3">
                    <input type="radio" name="is_admin" value="1" class="form-check-input" id="is_admin">
                    <label class="form-check-label" for="is_admin">User is an admin</label>
                  </div>
                  <input type="password" name="password" placeholder="Password" class="form-control mb-3" required>
                  <button type="submit" class="btn btn-dark">Sign up</button>
                </form>
              </div>
            </article>
          </main>

  
        <%- include ("partials/footer.ejs") -%>
      </div>
    </div>
    

  </body>

</html>
