<!-- views/partials/head.ejs -->
<!-- to handle html head section -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<link rel="stylesheet" href="./css/bootstrap.min.css">


<title> <%= title %> </title>