<!-- views/partials/nav.ejs -->
<header class="pb-3 mb-5 border-bottom">
  <h1 class="h4">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <svg xmlns="http://www.w3.org/2000/svg"  width="50" height="50" class="d-inline-block mr-2" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 846.66 1058.325" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><g><path class="fil0" d="M130.78 93.99l585.1 0c25.89,0 47.03,21.17 47.03,47.03l0 440.84c0,25.86 -21.14,47.03 -47.03,47.03l-206.53 0 0 71.52 56.22 0 0 52.26 -283.11 0 0 -52.26 54.86 0 0 -71.52 -206.54 0c-25.87,0 -47.03,-21.17 -47.03,-47.03l0 -440.84c0,-25.86 21.16,-47.03 47.03,-47.03zm326.32 606.42l0 -71.52 -67.52 0 0 71.52 67.52 0zm-156.7 -475.09l130.33 136.12 -130.33 136.12 -45.31 -43.59 88.6 -92.53 -88.6 -92.53 45.31 -43.59zm139.78 189.97l151.39 0 0 63.02 -151.39 0 0 -63.02z" fill="currentColor"/></g></svg>

      Code Snippet
    </a>
  </h1>
  <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class= "collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/javascript">Javascript</a>
            <a class="dropdown-item" href="/python">Python</a>
            <a class="dropdown-item" href="/C%2B%2B">C++</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tools">Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/frameworks">Framework</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ranking">User Ranking</a>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link" href="/addcode">Add code snippet</a>
        </li>
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/myaccount"> <%= user.username %>'s Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </nav>
</header>